dist
.solid
.output
.vercel
.vinxi
.netlify
netlify

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
.vscode

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
